* {
    margin: 0px;
    /* font-family: 'Poppins', Arial, sans-serif; */
}

html {
    scroll-behavior: smooth;
}

.text-align-center{
    text-align: center;
}

.text-align-end{
    text-align: end;
}

.carousel-inners {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 800px;
}

.carousel-captions {
    position: absolute;
    right: 0%;
    bottom: 13rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}


#header {
    position: relative;
    overflow: hidden;
}

#header .sliderBg {
    display: none;
    transform: translateX(100%);
}

#header .sliderBg.active.bg1 {

    background-image: url("../images/trading/headerBg.svg");
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.4s;
}

#header .sliderBg.active.bg2 {

    background-image: url("../images/trading/featuresBg.svg");
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.4s;
}

#header .sliderBg.active {
    /* background-image: url("../images/trading/headerBg.svg"); */
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    /* animation:slideLeft 0.8s ease-in; */
}

.division {
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
    font-family: "Poppins, Medium";
    font-size: 64px;
    font-weight: 800;
    line-height: 70.1px;
    color: #fff;
    text-align: center;
    padding: 0rem 23rem;
    margin: 30px 0px;
}

.slide-para {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    font-family: "Poppins, Medium";
    font-size: 24px;
    font-weight: 700;
    line-height: 48.1px;
    padding: 0rem 16rem;
    margin: 30px 0px;
}


#header .slider {
    position: absolute;
    right: 45%;
    bottom: 2%;
}

#header .container {
    width: 70%;

}

/* #header h1, #header p,#header button{
    color:white;
    font-size: 40px;
    font-weight: 750;
    margin:20px 0;
} */
/* #header p {
    font-size: 25px;
    line-height: 1.2;
} */

button.m-detail {
    color: #FFF;
    text-align: center;
    font-family: "Poppins, Medium";
    font-size: 20px;
    font-weight: 800;
    background-color: #FF3E41;
    width: 190px;
    height: 54px;
    border: none;
    border-radius: 2rem;
}

button.m-detail:hover {
    background-color: #ff3e41a0;
    color: rgba(255, 255, 255, 0.665);
    /* border:solid #FF3E41 2px; */
    /* color:black; */
    transition: background-color 0.2s ease-in-out;
}

button.left-btn {
    background-color: transparent;
    width: 4rem;
    border: none;
    color: #fff;
    font-size: 1.5rem;
}



/* Slider */
/* Slideshow container */

.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}






/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
/* 
.active, .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}



/* About section Styles */
#about {
    padding: 0px 0;
    flex-direction: column;
}

.about-container {
    /* margin:50px 30px; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    column-gap: 40px;
    row-gap: 30px;
    justify-content: space-between;
    width: 75%;
}

.about-heading {
    font-family: "Poppins, Medium";
    font-size: 36px;
    font-weight: 700;
    line-height: 45.6px;
    color: #000;
}

.card-head {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 20px;
    font-weight: 700;
}

.card-para {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    line-height: 25.5px;
    font-weight: 400;
}

.right-part {
    margin: 0px -142px;
}

.left-part,
.right-part {
    width: 600px;
}

.left-part-content {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 20px;
    font-weight: 400;
    line-height: 28.6px;
}

.right-part img {
    width: 35px;
    height: 35px;
    border: none;
    background-color: rgba(0, 74, 173, 0.10);
    padding: 5px 7px;
    border-radius: 6px;
}

.right-lower {
    margin-top: 20px;
}

.right-heading {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 20px;
    font-weight: 700;
}

.right-content {
    color: rgb(155, 151, 151);
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 400;
    line-height: 28.6px;
}

.container-img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 50px;
}


.s-explore {
    font-family: "Poppins, Medium";
    font-size: 36px;
    color: #000;
    font-weight: 700;
}









/* Features Section Styles */
#features {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/trading/featuresBg.svg");
    width: 100%;
    height: 660px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

#features .container {
    width: 100%;
}

#features .top {
    width: 70%;
}

#features .top p {
    margin: 15px 0px;
}

.feature-para {
    color: var(--white-text, #FFF);
    font-family: "Poppins, Medium";
    font-size: 20px;
    font-weight: 400;
}

.trade {
    color: #FFF;
    font-family: "Poppins, Medium";
    font-size: 40px;
    font-weight: 400;
}

.w-service {
    color: #FFF;
    font-family: "Poppins, Medium";
    font-size: 64px;
    font-weight: 700;
}

#features .top h2 {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 500;
}

#features .top h1 {
    margin: 15px 0;
    font-size: 40px;
    font-weight: 900;
}

#features .top button {
    margin: 15px 0;
    padding: 7px 15px;
    background-color: white;
    /* border:none; */
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white 2px;
    color: var(--black-text, #000);
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 500;
}

#features .top button img {
    margin: 0 10px;
}

#features .top button:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

#features .bottom {
    bottom: 22px;
    position: absolute;
    right: 14%;
    width: 361px;
    height: 230px;
    background-color: #5c5a5a;
    color: white;
    border-radius: 5px;
    align-items: start;
    justify-content: space-evenly;
    animation: slideRight 0.5s ease-in-out;
}

#features .bottom p {
    color: #FFF;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 400;
    line-height: 17.5px;
    margin: -12px 58px;
}

#features .bottom p img {
    margin: 0 5px;
}

#features .bottom p span {
    font-weight: 700;
    margin: 0 5px;
}

ul.icon-link.icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
}

.rights {
    display: flex;
    margin: auto;
    flex-direction: row;
    padding-left: 19rem;
}

/* Quality Section Styles */

#quality {
    padding: 14px 0px 270px 0px;
}

#quality .head h2 {
    margin: 20px;
    font-family: "Poppins, Medium";
    font-size: 36px;
    font-weight: 700;
}

#quality .head {
    width: 70%;
    margin: 30px 0;
}

#quality .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    /* margin: 0 20px; */
}

#quality .container h2 {
    width: 100%;
    margin: 20px 0;
}

#quality .head p.supplier {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 20px;
    font-weight: 600;
    padding-top: 2rem;
}

.global-source {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 48px;
    font-weight: 600;
    line-height: 54.6px;
}

#quality .head .text p {
    font-weight: 500;
    /* margin:5px 35px; */
}

#quality .head h1 {
    /* font-weight: 600; */
    /* font-size: 25px; */
    /* width: 70%; */
    margin: 20px 193px 10px 0px;
}

#quality .container .parent {
    position: relative;
    width: 100%;
    height: 500px;
}

#quality .container .top.child {
    position: absolute;
    width: 70%;
    height: 500px;
}

#quality .container .top.child .text {
    width: 807px;
    height: 500px;
    position: relative;
    right: 167px;
    top: 100px;
    padding: 0px;
    background: white;
    box-shadow: 2px 2px 15px #00000036;
    animation: slideLeft 0.5s ease-in-out;
}

#quality .container .bottom.child {
    position: absolute;
    right: 0%;
    z-index: -1;
}

#quality .container .bottom.child img {
    width: 807px;
    height: 757px;
}

#quality .container .top.child .text p {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 17px;
    font-weight: 400;
    line-height: 27.6px;
    width: 60%;
    /* margin: 20px 0; */
}

/* Services card Section Styles */
.services {
    padding: 0px 0;
}

.services .container {
    width: 80%;
    justify-content: space-between;
}

.services .card-body {
    width: 360px;
    height: 622px;
    background-color: white;
    box-shadow: 2px 2px 15px #00000036;
    overflow: hidden;
    margin: 20px 20px;
}

.services .card-body .card-img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.services .card-body .card-img.card1 {
    background-image: url("../images/trading/cardImg1.svg");
    height: inherit;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.services .card-body .card-img.card1:hover {
    background-image: url("../images/trading/cardImg1.svg");
    transform: scale(1.1, 1.1);
}



.services .card-body .card-img.card2 {
    background-image: url("../images/trading/cardImg2.svg");
    height: inherit;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.services .card-body .card-img.card2:hover {
    background-image: url("../images/trading/cardImg2.svg");
    transform: scale(1.1, 1.1);
}



.services .card-body .card-img.card3 {
    background-image: url("../images/trading/cardImg3.svg");
    height: inherit;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.services .card-body .card-img.card3:hover {
    background-image: url("../images/trading/cardImg3.svg");
    transform: scale(1.1, 1.1);
}



.services .card-body .card-img {
    height: 300px;
}

.services .card-body .card-text {
    padding: 8px 17px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.services .card-body .card-text button {
    padding: 10px 20px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--light-gray, #F6F6F6);
    border-radius: 6px;
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 700;
}

.services .card-body .card-text button img {
    margin: 0 10px;
}








/* FOOTER */

img.footer-logo {
    width: 35%;
    height: 125px;
}

.footer-bg {
    background-image: url("../images/footer.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    /* height: 100vh; */
    box-shadow: 4px 0px 40px 0px rgba(0, 0, 0, 0.10);
    /* mix-blend-mode: luminosity; */
}

.footer-us {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    font-family: "Poppins, Medium";
}

.footer-para {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.1px;
    font-family: "Poppins, Medium";
    margin: 4px;
}


.col-md-4.about-us {
    padding: 0px 60px;
}

.col-md-4.contact-us {
    padding: 0px 60px;
}

.copyright {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins, Medium";
}

.title {
    color: #004AAD;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins, Medium";
}


.padding {
    padding: 1rem 6rem;
}


.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.social-media {
    justify-content: end;
}

.f-rights{
    text-align: end;
}


@keyframes slideLeft {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(100%);
    }
}


@keyframes fade {

    from {
        transform: translateX(-50%);
    }

    to {
        /* opacity: 1 */
        transform: translateX(0%);
    }
}



/* Tablet Sized Media Query */
@media (min-width:768px) and (max-width:1024px) {
    /* .services .container {
        width: 90%;
    } */
}


/* Mobile Size Media Queries */

@media only screen and (max-width:768px) {

    /* Header */
    #header .container {
        width: 80%;

    }

    #header h1 {
        font-size: 30px;
    }

    #header p {
        font-size: 15px;
    }

    /* About */
    .about-container {
        flex-wrap: wrap;
        width: 80%;
    }

    .right-part {
        margin: 0px;
    }


    /* Features */
    #features {
        align-items: flex-start;
    }

    #features .container {
        width: 80%;
        margin: 60px 0;
    }

    #features .top h2 {
        font-size: 20px;
    }

    #features .top h1 {
        font-size: 25px;
    }

    #features .top p {
        font-size: 13px;
    }

    #features .top {
        margin: 0 30px;
        color: white
    }

    #features .bottom {
        right: 10%;
    }

    #quality .container .top.child {
        /* position: static; */
        width: 85%;
    }

    #quality .container .top.child .text {
        padding: 10px 0px;
    }

    #quality .container h1 {
        width: 80%;
        margin: 10px 25px;
    }

    #quality .container p {
        margin: 0 25px;
    }

    #quality .container .top.child .text p {
        width: 80%;
        margin: 0px 0;
    }

    #quality .head h1 {
        text-align: center;
        width: 100%;
    }

    #quality .head p.supplier {
        text-align: center;
    }

    /* Cards */
    .services .card-body {
        width: 80%;
    }

    .services {
        padding: 10px 0px;
    }

    .services .container {
        flex-wrap: wrap;
    }

    .services .container {
        width: 100%;
        justify-content: center;
    }

    #quality .head {
        width: 80%;
        margin: 30px 0;
    }

    .slide-para {
        color: rgb(255, 255, 255);
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 15px;
        font-family: "Poppins, Medium";
        font-size: 10px;
        font-weight: 700;
        line-height: 18.1px;
        padding: 0px 29px;
        margin: 0px 0px;
    }

    .division {
        text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
        font-family: "Poppins, Medium";
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 1px;
        margin: 0px 0px;
    }

    #header .slider {
        position: absolute;
        right: 33%;
        bottom: 2%;
    }
}






/* Very Small Devices Eg. Iphone SE 2020 */

@media only screen and (max-width: 375px) {
    #features {
        align-items: start;
        padding: 50px 0;
    }
}




/* MOBILE SCREEN */

@media only screen and (max-width: 992px) {


    #quality .container .top.child .text p {
        color: #000;
        font-family: "Poppins, Medium";
        font-size: 12px;
        font-weight: 400;
        line-height: 18.6px;
        /* width: 60%; */
        /* margin: 20px 0; */
    }

    #quality .container .top.child .text {
        width: 18rem;
        /* margin-left: 27rem; */
        height: 500px;
        position: relative;
        top: 20px;
        left: 0rem;
        padding: 0px;
        background: white;
        box-shadow: 2px 2px 15px #00000036;
    }

    img.footer-logo {
        width: 100%;
        height: 189px;
    }

    .col-md-4.about-us {
        padding: 0px;
    }

    .col-md-4.contact-us {
        padding: 0px;
    }

    .padding {
        padding: 1rem 2rem;
    }

    .footer-bg {
        background-image: url("../images/footer.png");
        background-position: center;
        background-size: cover;
        width: 105%;
        /* height: 100vh; */
        box-shadow: 4px 0px 40px 0px rgba(0, 0, 0, 0.10);
        /* mix-blend-mode: luminosity; */
    }

    .order1{
        order: 2;
    }

    .order2{
        order: 1;
    }

    .social-media{
       justify-content: center;
    }

    .copyright {
        color: #000;
        font-size: 13px;
        font-weight: 400;
        font-family: "Poppins, Medium";
    }

    #features .bottom p {
        color: #FFF;
        font-family: "Poppins, Medium";
        font-size: 12px;
        font-weight: 400;
        line-height: 17.5px;
        margin: -10px 64px;
    }

    .about-heading {
        font-family: "Poppins, Medium";
        font-size: 34px;
        font-weight: 700;
        line-height: 45.6px;
        color: rgb(0, 0, 0);
    }

    .carousel-inners {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: auto;
    }

    .carousel-captions {
        position: absolute;
        right: 0%;
        bottom: 35px;
        /* padding-top: 1.25rem; */
        /* padding-bottom: 1.25rem; */
        color: rgb(255, 255, 255);
        text-align: center;
    }
    button.m-detail {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Poppins, Medium";
        font-size: 10px;
        font-weight: 800;
        background-color: rgb(255, 62, 65);
        width: 100px;
        height: 25px;
        border: none;
        border-radius: 2rem;
    }

    .f-rights{
        text-align: center;
    }
}




/* Tablet Sized Media Query */
@media (min-width:768px) and (max-width:1180px) {

    :root{
        width: 100%;
      }

      .slide-para {
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        font-family: "Poppins, Medium";
        font-size: 24px;
        font-weight: 700;
        line-height: 44.1px;
        padding: 0rem 1rem;
        margin: 30px 0px;
    }

    .division {
        text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
        font-family: "Poppins, Medium";
        font-size: 64px;
        font-weight: 800;
        line-height: 62.1px;
        color: #fff;
        text-align: center;
        padding: 0rem 1rem;
        margin: 30px 0px;
    }

    .about-container {
        /* margin: 50px 30px; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        column-gap: 40px;
        row-gap: 30px;
        justify-content: space-between;
    }

    .services .container {
        display: flex;
        flex-direction: column;
    }

    #quality .container .top.child .text {
        width: 28rem;
        /* margin-left: 27rem; */
        height: 500px;
        position: relative;
        top: 20px;
        left: 0rem;
        padding: 0px;
        background: white;
        box-shadow: 2px 2px 15px #00000036;
    }

    #quality .container .top.child .text p {
        color: #000;
        font-family: "Poppins, Medium";
        font-size: 12px;
        font-weight: 400;
        line-height: 21.6px;
        /* width: 60%; */
        /* margin: 20px 0; */
    }
}

